@model List<Category>

@{
    ViewData["Title"] = "Category";
}

<h1>@ViewData["Title"]</h1>

<button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CategoryForm">+</a></button>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <form action="@Url.Action("DeleteCategory", "Home")" method="post">
                        <input type="hidden" name="id" value="@category.Id" />
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>